@{
    var role = "Admin";
    string title = "Home Page";
    var message = "Hello, World";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>This is a @title</p>
    <p>Role is @role </p>
    <p>Message : @message</p>
</body>
</html>